.App {
  text-align: center;
}

.App-header {
  background-color: #101418;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4527A0;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center
}

<<<<<<< HEAD
#paragraph {
  font-size:calc(1px + 2vmin);
  margin-left:10vw; 
  margin-right:10vw;
}

.lists {
  text-align:left;
=======
.Help-button {
  display: flex;
  justify-content: end;
  text-align: right
>>>>>>> 5af1299 (added help button)
}